@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

$boxSize: 300px;
$boxBorder: 10px solid #000;
$font: "Roboto", sans-serif;

@mixin panels-styling {
  height: $boxSize;
  width: $boxSize;
  border: $boxBorder;
  transition: all 0.2s ease-in-out;
}

* {
  body {
    background-color: rgb(14, 14, 14);
  }
  .points {
    .score {
      font-family: $font;
      font-size: 55px;
      color: #fff;
      margin-left: 45px;
    }
  }
  button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85px;
    height: 85px;
    margin-left: -43px;
    margin-top: -20px;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 55px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family: $font;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    transition: background 0.1s ease-in-out;
    &:hover {
      cursor: pointer;
      background: rgb(46, 4, 4);
    }
    &:focus {
      outline: 0;
    }
    span {
      position: absolute;
      margin-top: -7px;
      margin-left: -22px;
    }
  }
  .board {
    border: 20px solid #000;
    border-radius: 450px;
    height: 550px;
    width: 550px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -275px;
    margin-left: -295px;
    .logo-button {
      text-align: center;
      border-radius: 150px;
      position: absolute;
      height: 175px;
      line-height: 165px;
      width: 175px;
      left: 50%;
      top: 50%;
      margin-top: -107px;
      margin-left: -107px;
      background: rgb(115, 115, 115);
      background: radial-gradient(
        circle,
        rgba(115, 115, 115, 1) 58%,
        rgba(45, 45, 45, 1) 100%
      );
      border: 20px solid #000;
    }
    .row1,
    .row2 {
      display: inline-block;
      margin-top: -45px;
    }
    .row1 {
      margin-left: -45px;
    }
    .row1 {
      .green {
        @include panels-styling;
        background: green;
      }
      .red {
        @include panels-styling;
        background: red;
      }
    }
    .row2 {
      .blue {
        @include panels-styling;
        background: blue;
      }
      .yellow {
        @include panels-styling;
        background: yellow;
      }
    }
  }
  @import "mobile.scss";
}
